<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <title>Vendon | Quiz</title>
</head>
<body class="bg-gray-200 w-screen h-screen">
<section class="relative mx-auto w-fit">
    <nav class="flex justify-between bg-cyan-800 text-white w-screen">
        <div class="px-5 xl:px-12 py-6 flex w-full items-center">
            <a class="text-3xl font-bold font-heading" href="/index">
                <img src="https://vendon.net/wp-content/uploads/2021/06/Logo_Header-1.svg" width="200" height="46"
                     class="attachment-full size-full wp-image-2389 astra-logo-svg" loading="lazy" alt="Vendon">
            </a>
        </div>
    </nav>
</section>
<div class="flex justify-center items-center w-full mt-10">
    <h1 class="font-semibold text-3xl p-4 mb-8">{{ quiz.title }}</h1>
</div>
<div id="quiz-container" class="flex justify-center h-screen">
    <form class="w-1/2" id="quiz-form" action="/quiz" method="POST">
        {% for question in questions %}
            <div class="question" id="question{{ loop.index }}" style="display: none;">
                <div class="border-2 rounded-xl p-8 border-gray-300 bg-gray-100">
                    <p class="text-2xl text-center">{{ question.questionText }}</p>
                </div>
                <!-- Display answer options for the current question only -->
                <div class="p-4">
                    <ul>
                        {% for answer in question.answers %}
                            <li class="flex justify-center">
                                <label class="flex justify-center w-1/2 mb-3 border-l-8 bg-blue-50 border-black drop-shadow-lg transition ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-emerald-600 active:bg-emerald-800 cursor-pointer">
                                    <input type="radio" name="question{{ loop.parent.loop.index }}_answer"
                                           value="{{ answer }}"
                                           class="hidden">
                                    <span class="py-2 px-4">
                                    {{ answer }}
                                </span>
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
        <div class="bg-gray-300 h-8 mt-4 mb-4">
            <div id="progress-bar" class="bg-green-600 h-8"></div>
        </div>
        <input type="submit" value="Submit" class="hidden">
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const questions = document.querySelectorAll('.question');
        const progressBar = document.getElementById('progress-bar');
        let currentQuestionIndex = 0; // Initialize the current question index

        function showNextQuestion() {
            if (currentQuestionIndex < questions.length - 1) {
                questions[currentQuestionIndex].style.display = 'none';
                currentQuestionIndex++;
                questions[currentQuestionIndex].style.display = 'block';
                updateProgressBar();
            } else {
                document.getElementById('quiz-form').submit(); // Form submission
            }
        }

        // Initial state to show the first question
        questions[currentQuestionIndex].style.display = 'block';

        // Event listeners to switch to the next question after answering
        const answerOptions = document.querySelectorAll('input[type="radio"]');
        answerOptions.forEach(option => {
            option.addEventListener('change', showNextQuestion);
        });

        // Function to update the progress bar
        function updateProgressBar() {
            const percentComplete = ((currentQuestionIndex + 1) / questions.length) * 100;
            progressBar.style.width = percentComplete + '%';
        }
    });
</script>
</body>
</html>
