<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Vendon | Sākums</title>
</head>
<body class="bg-gray-200 w-screen h-screen">
<section class="relative mx-auto w-fit">
    <nav class="flex justify-between bg-cyan-800 text-white w-screen">
        <div class="px-5 xl:px-12 py-6 flex w-full items-center">
            <a class="text-3xl font-bold font-heading" href="/index">
                <img src="https://vendon.net/wp-content/uploads/2021/06/Logo_Header-1.svg" width="200" height="46"
                     class="attachment-full size-full wp-image-2389 astra-logo-svg" loading="lazy" alt="Vendon">
            </a>
            <ul class="hidden md:flex px-4 mx-auto font-semibold font-heading space-x-12">
                <li><a class="hover:text-yellow-400 hover:bg-cyan-900 px-6 py-4 rounded-lg" href="/index">Sākums</a>
                </li>
                <li><a class="hover:text-yellow-400 hover:bg-cyan-900 px-6 py-4 rounded-lg" href="/create">Izveidot
                        testu</a></li>
                <li><a class="hover:text-yellow-400 hover:bg-cyan-900 px-6 py-4 rounded-lg" href="#">Statistika</a></li>
                <li><a class="hover:text-yellow-400 hover:bg-cyan-900 px-6 py-4 rounded-lg" href="#">Section 4</a></li>
            </ul>
        </div>
        <div class="hidden xl:flex items-center space-x-5 items-center">
            <form method="POST" action="/logout"
                  class="flex flex-row items-center h-12 px-4 mr-4 rounded-lg bg-red-900 text-white hover:bg-red-800">
                            <span class="flex items-center justify-center text-lg text-white">
                                <svg fill="none"
                                     stroke-linecap="round"
                                     stroke-linejoin="round"
                                     stroke-width="2"
                                     viewBox="0 0 24 24"
                                     stroke="currentColor"
                                     class="h-6 w-6">
                                    <path d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z"></path>
                                </svg>
                            </span>
                <button type="submit" class="ml-3">Iziet</button>
            </form>
        </div>
    </nav>
</section>
<div class="flex justify-center items-center w-full mt-10">
    <h1 class="font-bold text-4xl">Izvēlieties testu</h1>
</div>
<form method="POST" action="/index" class="flex justify-center mt-6">
    <div
            class="align-middle inline-block w-3/5 shadow overflow-hidden bg-white shadow-dashboard px-8 pt-3 rounded-bl-lg rounded-br-lg">
        <input type="hidden" id="selected_quiz_id" name="quiz_id" value="">
        <table class="min-w-full">
            <thead>
            <tr>
                <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-cyan-800 tracking-wider">
                    Testa ID
                </th>
                <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-cyan-800 tracking-wider">
                    Testa nosaukums
                </th>
                <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-cyan-800 tracking-wider">
                    Testa autors
                </th>
                <th class="px-6 py-3 border-b-2 border-gray-300"></th>
            </tr>
            </thead>
            {% for index, quiz in quizzes %}
            <tbody class="bg-white">
            <tr>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                    <div class="flex items-center">
                        <div>
                            <div class="text-lg font-semibold leading-5 text-gray-800">{{ quiz.id }}</div>
                        </div>
                    </div>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                    <div class="text-lg leading-5 text-black">{{ quiz.title }}</div>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b text-black border-gray-500 text-sm leading-5">
                    {{ users[index].name }} {{ users[index].surname }}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-500 text-sm leading-5">
                    <button class="px-5 py-2 border-blue-500 border text-blue-500 rounded transition duration-300 hover:bg-blue-700 hover:text-white focus:outline-none"
                            onclick="setSelectedQuizId('{{ quiz.id }}')">
                        Pildīt testu
                    </button>
                </td>
                {% endfor %}
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4" class="p-4">
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</form>

<script>
    function setSelectedQuizId(quizId) {
        document.getElementById('selected_quiz_id').value = quizId;
    }
</script>

</body>
</html>